<% provide(:title, 's This Week') %>
<div class="container-calendar">
	<div class="container-weekly">
		<div class="container-daily">
			<%= render 'event_week/event' %>
		</div>
				<div class="container-daily">
			<%= render 'event_week/event' %>
		</div>
				<div class="container-daily">
			<%= render 'event_week/event' %>
		</div>
				<div class="container-daily">
			<%= render 'event_week/event' %>
		</div>
				<div class="container-daily">
			<%= render 'event_week/event' %>
		</div>
				<div class="container-daily">
			<%= render 'event_week/event' %>
		</div>
				<div class="container-daily">
			<%= render 'event_week/event' %>
		</div>
	</div>		
</div>