<% provide(:title, 'Home') %>

<div class="secondary-header">
		<%= render 'layouts/navbar' %>
</div>
<div class="container-calendar">
	<div class="container-monthly">
		<%= render 'event_calendar/week' %>
		<%= render 'event_calendar/week' %>
		<%= render 'event_calendar/week' %>
		<%= render 'event_calendar/week' %>
	</div>		
</div>