<div class="container navbar-secondary">
  <div class="secondary-header">
	<div class="header-calendar">
		<div class="currmonth">
			<%= Date.today.strftime("%B %Y").upcase%>
			</div>
		
		<div class="container-search">
			<form id="search" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="SEARCH">
      			</div>
    		</form>
		</div>
		
		<div class="container-search">
			<form id="maxprice" role="search">
     			 <div>
        			<input type="text" class="maxprice" placeholder="$MAX PRICE">
      			</div>
    		</form>
		</div>
		<div class="container-search">
			<form id="search2" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="LOC: NEW YORK, NY">
      			</div>
    		</form>
		</div>
		
		<div class="container-search">
			<form id="search3" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="MY EVENTS">
      			</div>
    		</form>
		</div>
		
		<div class="container-search">
			<form id="search3" role="search">
     			 <div>
        			<input type="text" class="searchbox" placeholder="MY PROFILE">
      			</div>
    		</form>
		</div>
		
		<div class="container-navigation">
			<div class="nav-buttons">
				<img class="left" src="https://s3.amazonaws.com/concerts-assets/images/left_arrows.png">
				<img class="middle1" src="https://s3.amazonaws.com/concerts-assets/images/month_selected.png">
				<img class="middle2" src="https://s3.amazonaws.com/concerts-assets/images/week.png">
				<img class="right" src="https://s3.amazonaws.com/concerts-assets/images/right_arrows.png">
			</div>
		</div>		
	</div>
  <%= render 'layouts/weekdays'%>
</div>	
</div>

<div class="container-calendar">
	<div class="container-monthly">
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<br />
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<br />
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<br />
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
	</div>		
</div>

<!--
<div class="center hero-unit">
  <h1>Concerts</h1>

  <h2>
    The big page of concerts
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
-->