<% provide(:title, 's This Month') %>
<!--
<div class="container navbar-secondary">
	<div class="secondary-header">
		<%= render 'layouts/navbar'%>
  		<%= render 'layouts/weekdays'%>
	</div>	
</div>
-->
<div class="container-calendar">
	<div class="container-monthly">
		<%= render 'event_calendar/week' %>
		<%= render 'event_calendar/week' %>
		<%= render 'event_calendar/week' %>
		<%= render 'event_calendar/week' %>
	</div>		
</div>