<!DOCTYPE html>
<html>
<head>
<title>Sickday.at</title>
<%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
 <link rel="icon" type="image/png" href="https://s3.amazonaws.com/concerts-assets/images/favicon.ico">
</head>
<body class="splashbg">
<div class="splash-container">
	<div class="videoembed">
		<iframe src="//player.vimeo.com/video/94617823" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<!--
	<div class="splashlogo">
		<img src="https://s3.amazonaws.com/concerts-assets/images/sickday-logo.png">
	</div>
	-->
	<center>
	<div class="email-collect">
		<h4 class="notice">Get notified when the beta is out</h4>
		<div class="container-search">
			<%= form_tag({}, class: "emaillist") do %>
				<div class="commentses">
					<textarea class="comments" name="entry.428211031" placeholder="Optional comments" rows="3" cols="50"></textarea>
				</div>
     			<div class="emailer">
     			 	<input class="searchbox" name="entry.1502143306" placeholder="Email address" type="email">
      			</div>
      			<input type="submit" value="SUBMIT">
    		<%end%>
    		<div class="errorbox"><center><h4 class="errors"></h4></center></div>
		</div>
	</div>
	</center>
</div>
<center>
<div class="bottomfoot">
	<h4 class="contact">dot@sickday.at</h4>
</div>
</center>
</body>
</html>