<!DOCTYPE html>
<html>
<head>
<title>Sickday.at</title>
<%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
 <link rel="icon" type="image/png" href="https://s3.amazonaws.com/concerts-assets/images/favicon.ico">
 <meta name="description" content="Sickday is a complete, integrated concert calendar that facilitates browsing local acts, discovering new music and following your favorite artists.">
 <meta name="og:image" content="https://s3.amazonaws.com/concerts-assets/images/sickday-logo.png">
</head>
<body class="splashbg">
<div class="splash-container">
	<div class="videoembed">
		<iframe src="//player.vimeo.com/video/94617823" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<!--
	<div class="splashlogo">
		<img src="https://s3.amazonaws.com/concerts-assets/images/sickday-logo.png">
	</div>
	-->
	<div class="email-collect">
		<h4 class="notice">Get notified when the beta is out</h4>
		<div class="container-search">
			<%= form_tag({}, class: "emaillist") do %>
				<div class="commentses">
					<textarea class="comments" name="entry.428211031" placeholder="Optional comments" rows="3" cols="50"></textarea>
				</div>
     			<div class="emailer">
     			 	<input class="searchbox" name="entry.1502143306" placeholder="Email address" type="email">
      			</div>
      			<input type="submit" value="SUBMIT">
    		<%end%>
    		<div class="errorbox"><center><h4 class="errors"></h4></center></div>
		</div>
	</div>
	
	<div class="shareables">
		<div class="topshares">
			<a href="https://www.facebook.com/sharer.php?app_id=113869198637480&sdk=joey&u=https%3A%2F%2Fwww.sickday.at&display=popup"><div class="fbdirect"></div></a>
			<a href="https://www.facebook.com/SickdayAt"><div class="fblike"></div></a>
			<a href="https://twitter.com/share?text=Check%20out%20this%20music%20calendar%20in%20development!"><div class="twitter"></div></a>
			<a href="https://www.linkedin.com/shareArticle?title=Sickday%2Eat%3A+Concerts+made+easy%21&mini=true&url=https://www%2Esickday%2Eat&source=sickday%2Eat"><div class="linkedin"></div></a>
		</div>
		<div class="bottomshares">
			<a href="http://www.tumblr.com/share/link?url=www.sickday.at&name=New%20music%20calendar!&description=Check%20out%20this%20new%20music%20calendar%20currently%20in%20development!"><div class="tumblr"></div></a>
			<a href="https://plus.google.com/share?url=www.sickday.at"><div class="googleplus"></div></a>
			<a href="//www.pinterest.com/pin/create/button/?url=www.sickday.at&media=https%3A%2F%2Fs3.amazonaws.com%2Fconcerts-assets%2Fimages%2Fsickday-logo.png&description=Sickday.at%3A%20concerts%20made%20easy!"><div class="pinterest"></div></a>
			<div class="reddit"></div>
		</div>
		<center><div class="shareinfo"><h4></h4></div></center>
	</div>
</div>
<center>
<div class="bottomfoot">
	<h4 class="contact">dot@sickday.at</h4>
</div>
</center>
</body>
</html>