<div class="event <% if @d < Date.today %>old<%end%>">
	<div class="playbutton">
	</div>
	<% @eventstoday = @events.select{|x| x.eventtime.to_date == @d}.sort_by{|x| -(Band.find_by name: x.headliner).rating} %>
	<div class="bandpic" href="javascript:void(0);">
		<img class="topimg" src="<% if @eventstoday.length > 0 %><%= (Band.find_by name: (@eventstoday[0].headliner)).image %><% end %>">
	</div>
	<% @eventstoday.each_with_index do |individ, index| %>
		<% @currband = (Band.find_by name: individ.headliner) %>
		<!--
		<%# if @d < Date.today %>
			<div class="event-individual <%= @currband.name.gsub(/[^0-9A-Za-z]/, '') %>" id="<%= Random.new.rand(10...100) %>">
				<% if @currband.rating > 50 %>
					<div class="star-full star-full-old mover <% if index == 0 %>top<% end %>" name="<%= @currband.image %>" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.headliner %>" name="name"></div>
				<% else %>
					<div class="star-empty star-empty-old mover <% if index == 0 %>top<% end %>" name="<%= @currband.image %>" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.headliner %>" name="name"></div>
				<% end %>
				<div class="curr-event curr-event-old"><h4><%= individ.headliner %></h4></div>
				<div class="deleter cross-old cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.headliner%>" name="name"></div>
			</div>
		<%# else %>
		-->
			<div class="event-individual <%= @currband.name.gsub(/[^0-9A-Za-z]/, '') %>" id="<%= Random.new.rand(10...100) %>">
				<% if @currband.rating > 50 %>
					<div class="star-full mover <% if index == 0 %>top<% end %>" name="<%= @currband.image %>" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.headliner %>" name="name"></div>
				<% else %>
					<div class="star-empty mover <% if index == 0 %>top<% end %>" name="<%= @currband.image %>" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.headliner %>" name="name"></div>
				<% end %>
			<div class="curr-event"><h4><%= individ.headliner %></h4></div>
			<div class="deleter cross" href="javascript:void(0);"><input name="_method" type="hidden" value="patch" /><input type="hidden" value="<%= individ.headliner%>" name="name"></div>
			</div>
			<!--
		<%# end %>
		-->
	<%end%>		
	<% @d=@d.tomorrow %>
</div>