	<div class="container-week">
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<div class="container-event">
			<%= render 'event_calendar/day' %>
			<%= render 'event_calendar/event' %>
		</div>
		<br />
	</div>
