<!DOCTYPE html>
<html>
<!-- The website has been developed with the help of http://ruby.railstutorial.org/ created by Michael Hartl -->
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script>
	$(document).ready(function(){
	$(".maxprice").keyup(function(){
		var str = parseInt($(".maxprice").val(), 10);
		var count = 0;
		//loop through the friendslist
		$(".event-individual").each(function(index){
			if($(this).attr("id")){
				//case insenstive search
                //if(!$(this).attr("id").match(new RegExp(str, "i"))){
                //    $(this).fadeOut("fast");
                //}else{
                //    $(this).fadeIn("slow");
                //    count++;
                if(parseInt($(this).attr("id"), 10) > str){
					$(this).fadeOut("fast");
				}else{
					$(this).fadeIn("slow");
					count++;
                }
            }
        });
    });
  });
  </script>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>