<!DOCTYPE html>
<html>
<!-- The website has been developed with the help of http://ruby.railstutorial.org/ created by Michael Hartl -->
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div class="secondary-header">
		<%= render 'layouts/headbanner' %>
</div>
<div class="container" id="data-pjax-container" data-pjax-container>
  <%= yield %>
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <%= debug(params) if Rails.env.development? %>
</div>
  <%= render 'layouts/deleter' %>
  <%= render 'layouts/maxprice'%>
</body>
</html>