<!DOCTYPE html>
<html>
<!-- The website has been developed with the help of http://ruby.railstutorial.org/ created by Michael Hartl -->
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/maxprice'%>
</head>
<body>
	<!--
	<%= render 'layouts/header' %>
	
<div class="header">
	<div class="container navbar-secondary">
	<div class="secondary-header">
		<%= render 'layouts/navbar'%>
  		<%= render 'layouts/weekdays'%>
	</div>	
	</div>
</div>	
-->
<header class="navbar-fixed-top">
<div class="secondary-header">
		<%= render 'layouts/headbanner' %>
		<%= render 'layouts/navbar' %>
  		<%= render 'layouts/weekdays' %>
</div>	
</header>
	
<div class="container">
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
  <%= render 'layouts/deleter' %>
</body>
</html>